<!DOCTYPE html>
<html>
<head>
  <title>Admin users</title>
</head>
<body>

<h1>Admin Page</h1>
        

          
          <p>Vous êtes le grand maître du sauth </p>
          <a href="/"> Retourner à l'acceuil </a>

         <% users = User.all%>

           <div class="listappown">
             <p>List des users</p>
             
            <ul>
              <% users.each do |u| %> 
                <%if u.login != "admin"%>
                   
                  <li><%=u.login%> - <a href="/users/delete/<%= u.login%>"" >Supprimer</a> </li>
                <% end %>              
              <% end %>
            </ul>
            </div>

        

</body>
</html>
