<!DOCTYPE html>
<html>
<head>
  <title>App cli 2 - Page privee</title>
</head>
<body style="font: 13px Arial, sans-serif; background: rgb(70,75,80);">
<center>
<h1 style="color: rgb(240,240,240)">Page privee appli cli 2</h1>
<div style="width: 600px; padding: 20px; text-align: left; background: rgb(255,255,255); box-shadow: 0 0 3px rgba(0,0,0,0.3);">
<p>Quel honneur que d'etre sur la page privee de l'appli cliente 2</p>
</div>
</center>
</body>
</html>


