<!DOCTYPE html>
<html>
<head>
  <title>App cli 1</title>
</head>

<body style="font: 13px Arial, sans-serif; background: rgb(237,210,186);">
<center>
  <h1>App cli 1</h1>
<div style="width: 600px; padding: 20px; text-align: left; background: rgb(255,255,255); box-shadow: 0 0 3px rgba(0,0,0,0.3);">
  <p><p/>
  <p>Bienvenue sur l'index de l'appli cliente 1</p>
  <p><a href="/protected">Page privee</a></p>
</div>
</center>
</body>
</html>
