<!DOCTYPE html>
<html>
<head>
  <title>App cli 1 - Page privee</title>
</head>
<body>

<h1>Page privee appli cli 1</h1>

<p>Quel honneur que d'etre sur la page privee de l'appli cliente 1</p>

</body>
</html>


