<!DOCTYPE html>
<html>
<head>
  <title>Portail de connection</title>
</head>
<body>

<h1>Portail de connection</h1>

<% if @error_con.nil? %>
		<p >Saisir votre login et votre mot de passe pour vous connecter</p>

<% else %>

<%= @error_con %>

<% end %>


<form action="/sauth/session/new" method="post">
  <div class="field">
    <label for="session_login">Login</label><br />

    <input id="login" name="login" size="30" type="text" />
  </div>
  <div class="field">
    <label for="passwd">Mot de passe</label><br />
    <input id="passwd" name="passwd" size="30" type="password" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Register" />

  </div>
</form>

<p></p>
<p>Pas encore inscrit? </p>
          <a href="/sauth/register"> Inscription </a>
</body>
</html>

