<!DOCTYPE html>
<html>
<head>
  <title>Acceuil</title>
</head>
<body>

<h1>Acceuil</h1>
        
        <% if @user.nil? %>
          <p>Bonjour, Veuillez vous connecter </p>
          <a href="/session/new"> Connection </a>
          <p>Pas encore inscrit? </p>
          <a href="/users/new"> Inscription </a>
        <% else %>
          
	  <p>Bonjour <%= @user %> </p>
            <p><%= @error %></p>
            <% if @user == "admin" %><p>Vous êtes le grand maître du sauth </p><a href="/sauth/admin"> Go to admin user </a><% end %>
            <p></p>
            <% params['login'] = @user %>
            <a href="/users/<%= params['login']%>"> Allez a votre profil </a>
            <p></p>
            <a href="/sessions/disconnect"> Deco </a>
        <% end %>
</body>
</html>
